#flipbook {
  margin-top: 2%;
  left: 16%;
}

.odd, .even {
  background-color: rgba(247, 244, 244, 0.87);color:#fff;
  padding-top: 0.55rem;
}

.page-wrapper {
  box-shadow: 5px 5px 10px -2px #555,
  5px 5px 8px rgba(255,255,255,0.8) inset;
}

.book__title {
  background: image-url("book_title.jpg") no-repeat center center;
  background-size: cover;
  width: 70rem;
  height: 40rem;
}

.page-turn-over {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 0.8rem;
  line-height: 2em;
  color: #fff;
  border-radius: 5px;
  background: #C0C0C0;
}
.page-turn-over:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 95%;
  border: 15px solid transparent;
  border-top: 15px solid #C0C0C0;
  margin-left: -15px;
  transform: rotateZ(90deg);
}

.book__title:hover .page-turn-over{
  display: inline-block;
  top: 200px;
}

// 要修正箇所
@media screen and (max-width: 1600px) { #flipbook { left: 14.5%;}}
@media screen and (max-width: 1500px) { #flipbook { left: 12.5%;}}
@media screen and (max-width: 1450px) { #flipbook { left: 11.5%;}}
@media screen and (max-width: 1400px) { #flipbook { left: 10.5%;}}
@media screen and (max-width: 1350px) { #flipbook { left: 9.0%;}}
@media screen and (max-width: 1300px) { #flipbook { left: 7.0%;}}
@media screen and (max-width: 1250px) { #flipbook { left: 5.5%;}}
@media screen and (max-width: 1200px) { #flipbook { left: 3.5%;}}
@media screen and (max-width: 1150px) { #flipbook { left: 1.5%;}}
@media screen and (max-width: 1100px) { #flipbook { left: -1.5%;}}
@media screen and (max-width: 1050px) { #flipbook { left: -3.5%;}}
@media screen and (max-width: 1000px) { #flipbook { left: -1.5%;}}
@media screen and (max-width: 999px) { #flipbook { left: 8.5%;}}
@media screen and (max-width: 900px) { #flipbook { left: 5.5%;}}
@media screen and (max-width: 850px) { #flipbook { left: 3.5%;}}
@media screen and (max-width: 800px) { #flipbook { left: -1.5%;}}
@media screen and (max-width: 750px) { #flipbook { left: -4.5%;}}
@media screen and (max-width: 700px) { #flipbook { left: -6.5%;}}
@media screen and (max-width: 699px) { #flipbook { left: 15.5%;}}
@media screen and (max-width: 650px) { #flipbook { left: 12.5%;}}
@media screen and (max-width: 600px) { #flipbook { left: 9.5%;}}
@media screen and (max-width: 550px) { #flipbook { left: 6.5%;}}
@media screen and (max-width: 500px) { #flipbook { left: 3%;}}