<!-- サイドのヘッダー -->
<%= render "books/left_header" %>

  <!-- ユーザーマイページ -->
  <div class="top__main">
    <section class="top__main--section">
      <h3 class="top__main--title">マイページ</h3>

        <%= render "books/index" %>

    </section>
  </div>

  <footer class="top__footer">
  <small class="top__footer__copyright">Copyright&copy; <a href="index.html">T.U.</a></small>
  <p class="top__footer__jump"><a href="#">🔝</a></p>
  </footer>
