<!-- bookログを含んだヘッダー。トップページのみに使用!-->
<div class="top">
  <header class="top__header">
    <div class="top__header__logo">
      <section>
        <%= image_tag 'book_logo.png' %>

          <%= render "layouts/flash" %>

      </section>
    </div>

    <%= render "left_header" %>

  </header>
</div>