aaa

<div class="main-container">
  <form action="" method="post">
    <input class="search" type="search" name="search" id="keyword" value="検索">
    <input class="btn" type="submit" value="検索">
  </form>
</div>

