<%= render "header" %>

  <div class="top__main">
    <section class="top__main--section">
      <h2 class="top__main--title">Read Books</h2>
      <h3 class="top__main--detail">чйНшкнуБиуБп</h3>

        <%= render "index" %>

    </section>
  </div>

  <footer class="top__footer">
  <small class="top__footer__copyright">Copyright&copy; <a href="index.html">T.U.</a></small>
  <p class="top__footer__jump"><a href="#">ЁЯФЭ</a></p>
  </footer>
