<!-- ポップ表示 -->
<div class="containers">
  <div class="containers__neumo"></div>
    <div class="containers__neumo__card containers__neumo__active">
      <p class="containers__neumo__card--title">「積読スッキリ！！」とは・・・</p>
      <div class="containers__neumo__card--detail">
        <p>・本をアウトプットするという記録用ログ</p>
        <p>・本の内容について交流できるコミュニケーションツール</p>
      </div>
      <p class="containers__neumo__card--assist">是非、読書をインプットからアウトプットへとシフトしてみてください！！</p>
      <p><button class="containers__neumo__card--button">閉じる</button></p>
    </div>
</div>

<%= render "header" %>

  <div class="top__main">
    <section class="top__main--section">
      <h2 class="top__main--title">Read Books</h2>
      <h3 class="top__main--detail">積読とは</h3>

        <%= render "index" %>

    </section>
  </div>

  <footer class="top__footer">
  <small class="top__footer__copyright">Copyright&copy; <a href="index.html">T.U.</a></small>
  <p class="top__footer__jump"><a href="#">🔝</a></p>
  </footer>
