<%= render "header" %>

  <div class="top__main">
    <section class="top__main--section">
      <h2 class="top__main--title">Read Books</h2>
      <h3 class="top__main--detail">積読とは</h3>
      
        <div class="top__main__contents">
          <div class="top__main__contents__glid">
            <div class="top__main__contents__glid__header">
              <div class="top__main__contents__glid__header--inside"><span>タイトル： </span>レバレッジ・リーディング</div>
            </div>
            <div class="top__main__contents__glid__text">
              <div class="top__main__contents__glid__text--inside"><span>内容： </span>この本がきっかけにこのアプリを作成しました。ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
            </div>
            <div class="top__main__contents__glid__footer">
              <div class="top__main__contents__glid__footer--time"><span>投稿日時： </span>2020/2/1 19:58</div>
              <div class="top__main__contents__glid__footer--name"><span>名前： </span>test</div>
            </div>
          </div>
        </div>

        <div class="top__main__contents">
          <div class="top__main__contents__glid">
            <div class="top__main__contents__glid__header">
              <div class="top__main__contents__glid__header--inside"><span>タイトル： </span>レバレッジ・リーディング</div>
            </div>
            <div class="top__main__contents__glid__text">
              <div class="top__main__contents__glid__text--inside"><span>内容： </span>この本がきっかけにこのアプリを作成しました。ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
            </div>
            <div class="top__main__contents__glid__footer">
              <div class="top__main__contents__glid__footer--time"><span>投稿日時： </span>2020/2/1 19:58</div>
              <div class="top__main__contents__glid__footer--name"><span>名前： </span>test</div>
            </div>
          </div>
        </div>

        <div class="top__main__contents">
          <div class="top__main__contents__glid">
            <div class="top__main__contents__glid__header">
              <div class="top__main__contents__glid__header--inside"><span>タイトル： </span>レバレッジ・リーディング</div>
            </div>
            <div class="top__main__contents__glid__text">
              <div class="top__main__contents__glid__text--inside"><span>内容： </span>この本がきっかけにこのアプリを作成しました。ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
            </div>
            <div class="top__main__contents__glid__footer">
              <div class="top__main__contents__glid__footer--time"><span>投稿日時： </span>2020/2/1 19:58</div>
              <div class="top__main__contents__glid__footer--name"><span>名前： </span>test</div>
            </div>
          </div>
        </div>

    </section>
  </div>  

  <footer class="top__footer">
  <small class="top__footer__copyright">Copyright&copy; <a href="index.html">T.U.</a></small>
  <p class="top__footer__jump"><a href="#">🔝</a></p>
  </footer>
