<!-- サイドのヘッダー -->
<%= render "books/left_header" %>

  <!-- 同じタグでソートした投稿一覧 -->
  <div class="top__main">
    <section class="top__main--section">
    <% @books.each do |book| %>
      <% book.tags.each do |t| %>
        <h3 class="top__main--title">「<%= t.tag %>」タグ一覧</h3>
      <% end %>
    <% end %>

        <%= render "books/index" %>

    </section>
  </div>

  <footer class="top__footer">
  <small class="top__footer__copyright">Copyright&copy; <a href="index.html">T.U.</a></small>
  <p class="top__footer__jump"><a href="#">🔝</a></p>
  </footer>