.comment {
  &__posts {
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0 auto;

    & textarea {
      height: 150px;
      border: none;
      outline: none;
      border-bottom: 1px solid #26A69a;
      box-shadow: 0 1px 0 0 #26a69a;
    }

    &__submit {
      display: flex;
      justify-content: center;
      align-items: center;

      &--button {
        background-color: #3366CC;
        color: $white;
        cursor: pointer;
        font-weight: normal;
        margin-top: 30px;
        padding: 14px 0 15px;
        width: 40%;
        border-radius: 10px;
        letter-spacing: 3px;
    
        &:active {
          background-color: $middle-grey;
          outline-width: 0;
          transition: all ease-out .3s;
        }
      }
    }
  }

  &__list {
    word-wrap: break-word;
    padding: 20px 30px;
    margin-top: 200px;

    font-weight: bold;
    color: #6091d3;/*文字色*/
    box-shadow: 0 0 10px rgba(black,0.5);
    border-radius: 10px;

    &__element {
      margin: 3px 0;

      &--nickname {
        margin-right: 3px;
      }

      &--comment {
        color: white;
        font-weight: normal;
      }

      &--link {
        display: inline-block;
        opacity: 0;
        margin-left: 10px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}