.create {
  display: block;
  text-align: center;
  padding-top: 44px;
  margin: 0 auto;
  max-width: 450px;

  &__success {
    max-width: 500px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
      & h3 {
        font-size: 18px;
      }

    &__back {
      display: block;
      color: skyblue;
      padding-top: 20px;
    }
  }
}