.new {
  &__container {
    
    &--header {
      border-bottom: .05rem solid $light-grey-e;
      display: block;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.5;
      padding: 16px;
      text-align: center;
    }

    &__contents {
      position: relative;
      width: 500px;
      height: 100px;
      margin: 0 auto;

      & textarea {
        height: 150px;
        border: none;
        outline: none;
        border-bottom: 1px solid #26A69a;
        box-shadow: 0 1px 0 0 #26a69a;
      }

      &__field {
        &--count {
          padding-bottom: 30px;
          text-align: right;
        }
      }

      &__submit {
        text-align: center;

        &--button {
          background-color: #3366CC;
          color: $white;
          cursor: pointer;
          font-weight: normal;
          margin-top: 30px;
          padding: 14px 0 15px;
          width: 40%;
          border-radius: 10px;
          letter-spacing: 3px;
      
          &:active {
            background-color: $middle-grey;
            outline-width: 0;
            transition: all ease-out .3s;
          }
        }
      }
    }
    .chips input.input {
      width: 320px !important;
    }
  }
  &__letter {
    &__limit {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .new {
    margin-left: 331px;
  }
}

@media screen and (max-width: 1000px) {
  .new {
    max-width: 500px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 768px) {
  .new {
    max-width: 400px;
    margin-left: 120px;

    &__container {
      &__contents {
        width: 300px;
      }
    }
  }
}