
.new {
  &__container {
    
    &--header {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 50px;
    }

  &__contents {
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0 auto;


  }


.chips input.input {
  width: 320px !important;
}


}


}