


.containers {
  margin:0 auto;
  display:none;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  z-index:1;

  &__neumo {
    height:200px;

    &__card {
      width: 40%;
      padding: 60px 30px;
      border-radius: 20px;
      border: 1px solid rgba(255,255,255,0.2);
      text-align: center;

      &--title {
        font-size: 1.2rem;
        padding-bottom: 30px;
      }

      &--detail {
        text-align: left;
        padding-left: 10%;
      }

      &--assist {
        padding-top: 20px;
      }

      &--button {
        padding: 10px;
        margin-top: 30px;
        border-radius: 32px;
        border: 1px solid #b8b8b8;
        color: #b8b8b8;
        cursor: pointer; 
        box-shadow: 5px 5px 3px rgba(56,56,56,.3);

        &:active {
          box-shadow: none;
          position: relative;
          top: 2px;
          left: 3px;
          background-color: none;
        }
      }
    }

    &__active {
      box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5),
      inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
      inset -3px -3px 7px #FFFFFF;
      background: linear-gradient(
                  318.32deg,
                rgba(163, 177, 198, 0.1) 0%, 
                rgba(163, 177, 198, 0.1) 55%,
                rgba(163, 177, 198, 0.25) 100%);
      background-color: #e0e5ec;
      margin: 0 auto
    }
  }
}
