.top {
	&__header {

		&--logo {
			overflow: hidden;
			padding: 10px 7% 0 31%;
			text-align:center;
		}

		&__menu {
			
			&--img {
				border-radius: 50%;
				opacity: 0.8;
			}
			
			@keyframes menu {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}

			&--list1, &--list2, &--list3, &--list4, &--list5 {
				animation-name: menu;
				animation-duration: 5S;
				animation-fill-mode: both;
				position: fixed;
			}

			&--list1 {
				width: 270px;
				left: 50px;
				top: -60px;
			}
	
			&--list2 {
				left: 140px;
				top: 175px;
				width: 215px;
				animation-delay: 0.2s;
			}
	
			&--list3 {
				left: 30px;
				top: 345px;
				width: 180px;
				animation-delay: 0.4s;
			}

			&--list4 {
				left: 150px;
				top: 455px;
				width: 175px;
				animation-delay: 0.6s;
			}

			&--list5 {
				left: 50px;
				top: 595px;
				width: 150px;
				animation-delay: 0.8s;
			}

			&--figure1, &--figure2, &--figure3, &--figure4, &--figure5 {
				position: fixed;
				z-index: 1;
				font-size: 1rem;
			}

			&--figure1 {
				left: 140px;
				top: 70px;
			}

			&--figure2 {
				left: 215px;
				top: 280px;
			}

			&--figure3 {
				left: 90px;
				top: 420px;
			}

			&--figure4 {
				left: 210px;
				top: 530px;
			}

			&--figure5 {
				left: 76px;
				top: 655px;
			}

			&--link {
				color: #808080;
			}
		}
	}

	&__main {
		overflow: hidden;
		padding: 0 4% 50px 30%;
		background: image-url("bg1.jpg")repeat center top/ 12%;

		&--title:before {
				content: "＊  ＊";
				display: block;
				font-size: -webkit-xxx-large;
				text-shadow: 20px 10px 0px rgba(255,255,255,0.5);
				text-align: center;
				position: relative;
    		left: -1.3rem;
			}
		

		&--detail {
			margin-bottom: 20px;
			letter-spacing: 0.1em;
			background: #fff;
			background: rgba(255,255,255,0.3);
			text-align: center;
			border-radius: 30px;
			
			font-size: 24px;
			padding: 5px 0;
		}

		&__contents {
			height: 100%;
			color: #fff;
			background-size: cover;
			background-position: center center;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(black,0.5);
			margin: 10px 5px;

			&__glid {
				padding: 10px 10px 0;

				& span {
					font-size: 1.2rem;
				}

				&__header {
					border-bottom: double 10px rgba(255,255,255,0.3);
					display: flex;

					&__others {
						margin-left: auto;
						display: flex;

						&__ul {
							margin: 0px;
							padding-left: 15px;

							&--li {
								display: inline-block;
							}
						
							&--li2 {
								width: 7rem;
								display: inline-block;
								list-style-type: none;
								position: relative;
								text-align: center;
								font-size: 24px;
					
								& a {
									color: white;
									line-height: 40px;
									text-align: center;
									text-decoration: none;
									font-weight: bold;
									display: block;
					
									&:hover {
										background-color: #ffdddd;
										color: #dd0000;
									}
								}
					
								&:hover {
									ul {
										display: block;
									}
								}
							}
							
							&--ul {
								margin: 0px;
								padding: 0px;
								display: none;
								position: absolute;
								background: image-url("bg1.jpg") repeat center top/12%;
					
								&--li {
									width: 7rem;
									border-top: 1px inset white;
					
									& a {
										font-size: 1rem;
										line-height: 35px;
										text-align: middle;
										font-weight: normal;
					
										&:hover {
											background-color: #ffff80;
											color: #005500;
										}
									}
								}
							}
						}
					}

					&--title {
						padding: 10px;
					}
				}

				&__text {
					border-bottom: double 10px rgba(255,255,255,0.3);

					&--content {
						padding: 10px;
					}
				}

				&__footer {
					padding: 10px 10px 0;
					display: flex;

					&--name {
						padding-left: 25%;
						padding-bottom: 10px;
					}
					
					&--comment {
						margin-left: 10px;
						padding-bottom: 10px;
						font-size: 1rem;
					}

					&--time {
						font-size: .9rem;
					}
				}
			}
		}

		.chip {
			font-size: 1rem;
		}
	}

	&__footer {
		clear: both;
		text-align: center;
		padding: 20px;
		background: image-url("bg.jpg") repeat center top/ 12%;

		&__jump {
			font-size: 40px;
		}
	}
}


.ham-content {
	display: none;
}

// レスポンシブ
@media screen and (max-width: 1050px) {
	.top {
		&__header {
			&__menu {

				&--list1 {
					width: 200px;
					left: 2px;
					top: -60px;
				}
		
				&--list2 {
					left: 76px;
					top: 110px;
					width: 165px;
					animation-delay: 0.2s;
				}
		
				&--list3 {
					left: 5px;
					top: 225px;
					width: 155px;
					animation-delay: 0.4s;
				}
	
				&--list4 {
					left: 95px;
					top: 335px;
					width: 140px;
					animation-delay: 0.6s;
				}
	
				&--list5 {
					left: 24px;
					top: 440px;
					width: 130px;
					animation-delay: 0.8s;
				}
	
				&--figure1 {
					left: 62px;
					top: 42px;
				}
	
				&--figure2 {
					left: 135px;
					top: 186px;
				}
	
				&--figure3 {
					left: 56px;
					top: 295px;
				}
	
				&--figure4 {
					left: 140px;
					top: 393px;
				}
	
				&--figure5 {
					left: 42px;
					top: 490px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .top {
		&__main {
			padding: 0 0 15px;

			&__contents {
				&__glid {
					& span {
						font-size: 1rem;
					}
				}
			}
		}

			&__header {
				&__menu {
					display: none;
				}
			}
	}
	
	.ham-content {
		display: contents;
	}

	#togglenav {
		display: none;
	}

	.togglenav-btn:before {
		font-family: 'Font Awesome 5 Free';
		content: "\f0c9";
		font-weight: 900;
		font-size: 2em;
	}

	#togglenav:checked {
		font-family: 'Font Awesome 5 Free';
		content: "\f00d";
		font-weight: 900;
		font-size: 2em;
	}

	#togglenav:checked ~ .drawer {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	.togglenav-btn {
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;
		width: 50px;
		height: 50px;
		color: #fff;
		background-color: #899D9B;
		line-height: 50px;
		text-align: center;
	}

	.togglenav-bg {
		cursor: pointer;
		position: fixed;
		top: 0px;
		right: 0px;
		pointer-events: none;
		z-index: 1;
		width: 100%;
		height: 100%;
		transition: background-color .6s;
	}

	.drawer {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 170px;
		height: 100%;
		background-color: white;
		opacity: .5;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		transition: transform .4s;

		&__menu {
			&--item {
				& a {
					padding: 0em 2em 0 2.5em;
					cursor: pointer;
					color: #333;
				}
		
				&:nth-child(1) {
					padding-top: 5em;
				}
			}
		}
	}
}