.top {
	&__header {

		&__logo {
			overflow: hidden;
			padding: 10px 4% 50px 30%;
			text-align:center;
		}

		&__menu {
			
			&--img {
				border-radius: 50%;
				opacity: 0.8;
			}
			
			@keyframes menu {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}

			&--list1, &--list2, &--list3, &--list4 {
				animation-name: menu;
				animation-duration: 5S;
				animation-fill-mode: both;
				position: fixed;
			}

			&--list1 {
				width: 20%;
				left: 5%;
				top: -40px;
			}
	
			&--list2 {
				left: 15%;
				top: 27%;
				width: 12%;	
				animation-delay: 0.2s;
			}
	
			&--list3 {
				left: 4%;
				top: 40%;
				width: 12%;
				animation-delay: 0.4s;
			}
	
			&--list4 {
				left: 11%;
				top: 60%;
				width: 10%;
				animation-delay: 0.6s;
			}

			&--figure1, &--figure2, &--figure3, &--figure4 {
				position: fixed;
				z-index: 1;
			}

			&--figure1 {
				left: 12%;
				top: 120px;
			}

			&--figure2 {
				left: 19%;
				top: 330px;
			}

			&--figure3 {
				left: 8%;
				top: 430px;
			}

			&--figure4 {
				left: 14.5%;
				top: 590px;
			}

			&--link {
				color: #808080;
			}
		}
	}

	&__main {
		overflow: hidden;
		padding: 0 4% 50px 30%;	
		background-image: url( "/assets/images/bg1.png" ) repeat center top/ 12%;

		&--title {
			font-size: 40px;
			margin-bottom: 20px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #333;

			&:before {
				content: "ï¼Š";
				display: block;
				margin-bottom: 10px;
				text-shadow: 20px 10px 0px rgba(255,255,255,0.5);
			}
		}

		&--detail {
			margin-bottom: 20px;
			letter-spacing: 0.1em;
			background: #fff;
			background: rgba(255,255,255,0.3);
			text-align: center;
			border-radius: 30px;
			
			font-size: 24px;
			padding: 5px 0;
		}

		&__contents {
			height: 100%;
			color: #fff;
			background-size: cover;
			background-position: center center;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(black,0.5);
			margin: 10px 5px;

			&__glid {
				padding: 10px 10px 0;

				& span {
					font-size: 20px;
				}

				&__header {
					border-bottom: double 10px rgba(255,255,255,0.3);
					display: flex;

					&__others {
						margin-left: auto;
						display: flex;

						&__ul {
							margin: 0px;
							padding-left: 15px;

							&--li {
								display: inline-block;
								margin-left: 10px;
								margin-right: 50px;
							}
						
							&--li2 {
								width: 125px;
								display: inline-block;
								list-style-type: none;
								position: relative;
								text-align: center;
								font-size: 24px;
					
								& a {
									color: white;
									line-height: 40px;
									text-align: center;
									text-decoration: none;
									font-weight: bold;
									display: block;
					
									&:hover {
										background-color: #ffdddd;
										color: #dd0000;
									}
								}
					
								&:hover {
									ul {
										display: block;
									}
								}
							}
							
							&--ul {
								margin: 0px;
								padding: 0px;
								display: none;
								position: absolute;
								background-image: url( "/assets/images/bg1.png" ) repeat center top/12%;
					
								&--li {
									width: 125px;
									border-top: 1px inset white;
					
									& a {
										font-size: 14px;
										line-height: 35px;
										text-align: middle;
										font-weight: normal;
					
										&:hover {
											background-color: #ffff80;
											color: #005500;
										}
									}
								}
							}
						}
					}

					&--title {
						padding: 10px;
					}
				}

				&__text {
					border-bottom: double 10px rgba(255,255,255,0.3);

					&--content {
						padding: 10px;
					}
				}

				&__footer {
					padding: 10px 10px 0;
					display: flex;

					&--name {
						padding-left: 25%;
						padding-bottom: 10px;
					}
					
					&--comment {
						margin-left: 10px;
						padding-bottom: 10px;
						font-size: 16px;
					} 
				}
			}
		}
	}

	&__footer {
		clear: both;
		text-align: center;
		padding: 20px;
		background-image: url( "/assets/images/bg.png" ) repeat center top/ 12%;

		&__jump {
			font-size: 40px;
		}
	}
}